.metadata/
RemoteSystemsTempFiles/
paraga/paragaweb/.project
paraga/paragaweb/.classpath
paraga/paragaweb/.tern-project
paraga/paragaweb/.settings/
paraga/paragaServices/target/
paraga/paragaServices/.classpath
paraga/paragaServices/.settings/
paraga/paragaServices/bin/
